page-login {
.lsq-warp-ios{
    height: calc(100vh - 44px);
 }
 .lsq-warp-md{
    height: calc(100vh - 56px);
 }
.header-md{
    text-align: center;
}
 .xylg-logo {
     margin: 0 auto;
 }
 .lsq-list {
     width: 100%;
 }
 .scroll-content {
     padding-bottom: 0px !important;
 }
 .lsq-error{
     color: red;
 }
}
